PYTHONUNBUFFERED=true
HAYSTACK_TELEMETRY_ENABLED="False"
SENTENCE_TRANSFORMERS_HOME="/home/user/.cache"

LOGGING_LEVEL="INFO"
LOGGING_FORMAT="%(asctime)s %(levelname)s %(name)s: %(module)s %(message)s"
LOGGING_DATE_FORMAT="%Y-%m-%dT%H:%M:%S%z"

STREAMLIT_CACHE_TTL=300
STREAMLIT_CACHE_MAX_ENTRIES=1
STREAMLIT_CACHE_SHOW_SPINNER=false

POSTGRES_STORE_BATCH_SIZE=10000

PREPROCESSOR_SPLIT_BY="sentence"
PREPROCESSOR_SPLIT_LENGTH=2
PREPROCESSOR_SPLIT_OVERLAP=1
PREPROCESSOR_RESPECT_SENTENCE=false

EMBEDDING_MODEL="intfloat/multilingual-e5-large"
EMBEDDING_FORMAT="sentence_transformers"
EMBEDDING_TOP_K=3

TRANSLATOR_ENABLED=false
TRANSLATOR_BASE_LANGUAGE="en"
TRANSLATOR_BATCH_SIZE=25

RANKER_ENABLED=false
RANKER_MODEL="cross-encoder/ms-marco-MiniLM-L-12-v2"
RANKER_TOP_K=3

WHISPER_BATCH_SIZE=6
