--pre
--extra-index-url https://download.pytorch.org/whl/nightly/cu121

accelerate==0.22.0
farm-haystack[inference,preprocessing,file-conversion]==1.20.0
librosa==0.10.1
peewee==3.16.3
pgvector==0.2.2
psycopg2-binary==2.9.7
sacremoses==0.0.53
sentence-transformers==2.2.2
st-pages==0.4.4
streamlit-authenticator==0.2.3
streamlit==1.26.0
torch==2.2.0.dev20230909+cu121
transformers==4.32.1
